@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Rubik";
  font-weight: normal;
  width: 100%;
  height: 100%;
}
h1 {
  margin-bottom: 1rem;
}
h2 {
  margin-bottom: 0.5rem;
  font-weight: normal;
}

p {
  line-height: 1.5rem;
  font-weight: lighter;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.blinking {
  animation: cursorFlash 1s infinite;
}
